@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
}

.container {
    background-color: pink;
    background-size: cover;
    padding: 10px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ProfileStage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    align-self: center;
    margin-right: 30px;


}

.head {
    font-size: 23px;
    font-family: "Roboto";
    color: darkblue;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 25px;
}

.icon {
    border-style: solid;
    border-color: darkblue;
    border-radius: 60px;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 30px;
}

.para {
    color: darkblue;
    padding: 5px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 10px;
    margin-left: 10px;
    text-align: center;
}


.paras {
    color: darkblue;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 700;
    margin-right: 80px;
    font-size: 15px;

}

.verticle-line {
    height: 180px;
    border-style: solid;
    right: 50%;
    border-color: blue;
    margin-top: 30px;
    margin-right: 40px;

}

.verticle-line1 {
    height: 200px;
    border-style: solid;
    right: 20px;
    border-color: blue;
    margin-bottom: 2px;
    margin-left: 10px;

}

.horizontal-line {
    border-style: solid;
    border-color: blue;
    line-height: 10%;
    margin-left: 140px;

}

.background {
    background-color: darkblue;
    border-radius: 60px;
    width: 60px;
    padding: 10px;
}
